<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <h1>Uploaded Apartments</h1>
    <% for (let apartment of apartments) { %>
    <div>
      <h2><%= apartment.image %></h2>
      <p><%= apartment.description %></p>
      <a href="/mansion-heights/apartments/<%= apartment._id %>">More Info</a>
    </div>
    <% } %>

    <form action="/mansion-heights/user/logout" method="post">
      <button>Logout</button>
    </form>
  </body>
</html>
