<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <main class="container">
      <h1>Welcome to Lodge Finder</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur temporibus in facilis. Laborum, iste aliquam
        itaque repellendus ipsum nam praesentium.
      </p>
      <div class="account">
        <div class="login">
          <p>Do you have an account with us? <a href="/lodge-finder/user/login">Login</a></p>
        </div>
        <div class="register">
          <p>Explore for your perfect home. <a href="/lodge-finder/user/signup">Sign Up</a></p>
        </div>
      </div>
    </main>
  </body>
</html>
