<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="container">
      <h1>Reset Password</h1>
      <form action="/lodge-finder/user/reset" method="post">
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" />
        </div>
        <button class="btn">Reset Password</button>
      </form>
    </div>
  </body>
</html>
